body{
    font-family: 'Kanit', sans-serif;
}


h1{
    color: red;
}

p{
    margin: -10px 0px 0px 0px;
}


strong{
    background-color: salmon;
}
#it{
    color: seashell;
}
.bg-yello{
    color: yellow;
}